au3/libraries/au3-xml/audacityproject.dtd

<!--DTD for Audacity Project files, as created by Audacity version 1.3.0 -->
<!--For more information: http://audacity.sourceforge.net/xml/           -->

<!ELEMENT project (tags, (wavetrack | labeltrack | timetrack)*)>
<!ATTLIST project projname CDATA #REQUIRED>
<!ATTLIST project version CDATA #REQUIRED>
<!ATTLIST project audacityversion CDATA #REQUIRED>
<!ATTLIST project sel0 CDATA #REQUIRED>
<!ATTLIST project sel1 CDATA #REQUIRED>
<!ATTLIST project vpos CDATA #REQUIRED>
<!ATTLIST project h CDATA #REQUIRED>
<!ATTLIST project zoom CDATA #REQUIRED>
<!ATTLIST project rate CDATA #REQUIRED>

<!ELEMENT tags EMPTY>
<!ATTLIST tags title CDATA #REQUIRED>
<!ATTLIST tags artist CDATA #REQUIRED>
<!ATTLIST tags album CDATA #REQUIRED>
<!ATTLIST tags track CDATA #REQUIRED>
<!ATTLIST tags year CDATA #REQUIRED>
<!ATTLIST tags genre CDATA #REQUIRED>
<!ATTLIST tags comments CDATA #REQUIRED>
<!ATTLIST tags id3v2 (0|1) #REQUIRED>

<!ELEMENT labeltrack (label*)>
<!ATTLIST labeltrack name CDATA #REQUIRED>
<!ATTLIST labeltrack numlabels CDATA #REQUIRED>

<!ELEMENT label EMPTY>
<!ATTLIST label t CDATA #REQUIRED>
<!ATTLIST label t1 CDATA #REQUIRED>
<!ATTLIST label title CDATA #REQUIRED>

<!ELEMENT timetrack (envelope)>
<!ATTLIST timetrack name CDATA #REQUIRED>
<!ATTLIST timetrack channel CDATA #REQUIRED>
<!ATTLIST timetrack offset CDATA #REQUIRED>

<!ELEMENT wavetrack (waveclip*)>
<!ATTLIST wavetrack name CDATA #REQUIRED>
<!ATTLIST wavetrack channel CDATA #REQUIRED>
<!ATTLIST wavetrack linked CDATA #REQUIRED>
<!ATTLIST wavetrack offset CDATA #REQUIRED>
<!ATTLIST wavetrack rate CDATA #REQUIRED>
<!ATTLIST wavetrack gain CDATA #REQUIRED>
<!ATTLIST wavetrack pan CDATA #REQUIRED>
<!ATTLIST wavetrack mute CDATA "0">
<!ATTLIST wavetrack solo CDATA "0">

<!ELEMENT waveclip (sequence, envelope)>
<!ATTLIST waveclip offset CDATA #REQUIRED>

<!ELEMENT sequence (waveblock*)>
<!ATTLIST sequence maxsamples CDATA #REQUIRED>
<!ATTLIST sequence sampleformat CDATA #REQUIRED>
<!ATTLIST sequence numsamples CDATA #REQUIRED>

<!ELEMENT waveblock (simpleblockfile | silentblockfile | legacyblockfile | pcmaliasblockfile)>
<!ATTLIST waveblock start CDATA #REQUIRED>

<!ELEMENT simpleblockfile EMPTY>
<!ATTLIST simpleblockfile filename CDATA #REQUIRED>
<!ATTLIST simpleblockfile len CDATA #REQUIRED>
<!ATTLIST simpleblockfile min CDATA #REQUIRED>
<!ATTLIST simpleblockfile max CDATA #REQUIRED>
<!ATTLIST simpleblockfile rms CDATA #REQUIRED>

<!ELEMENT silentblockfile EMPTY>
<!ATTLIST silentblockfile len CDATA #REQUIRED>

<!ELEMENT legacyblockfile EMPTY>
<!ATTLIST legacyblockfile name CDATA #REQUIRED>
<!ATTLIST legacyblockfile len CDATA #REQUIRED>
<!ATTLIST legacyblockfile summarylen CDATA #REQUIRED>
<!ATTLIST legacyblockfile norms CDATA "0">

<!ELEMENT pcmaliasblockfile EMPTY>
<!ATTLIST pcmaliasblockfile summaryfile CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile aliasfile CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile aliasstart CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile aliaslen CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile aliaschannel CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile min CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile max CDATA #REQUIRED>
<!ATTLIST pcmaliasblockfile rms CDATA #REQUIRED>

<!ELEMENT envelope (controlpoint*)>
<!ATTLIST envelope numpoints CDATA #REQUIRED>

<!ELEMENT controlpoint EMPTY>
<!ATTLIST controlpoint t CDATA #REQUIRED>
<!ATTLIST controlpoint val CDATA #REQUIRED>
